<?xml version="1.0" encoding="UTF-8"?>
<csHarvester>
    <config>
        <param name="data-collection" value="/db/apps/csHarvester"/>
    </config>
    <authority-files>
        <authority base-url="http://d-nb.info/gnd/" key="gnd"/>
        <authority base-url="http://viaf.org/viaf/" key="viaf"/>
        <authority base-url="http://catalogue.bnf.fr/ark:/12148/" key="bnf"/>
        <authority base-url="http://lccn.loc.gov/" key="lc"/>
        <authority base-url="http://id.ndl.go.jp/auth/ndlna/" key="ndl"/>
        <authority base-url="http://www.geonames.org/|http://sws.geonames.org/" key="geonames"/>
    </authority-files>
</csHarvester>